<ion-view class="bar-carpool-bg">

  <ion-content class="container" scroll="false">
    <div class="row contentTitle">
      <div class="col text-center">
        Please Enter Your Phone Number
      </div>
    </div>
    <div class="list list-inset  margin-0 padding-0 no-border-radius transparent-bg">
      <label class="item item-input no-border-radius">
        <input type="tel" placeholder="Phone Number" ng-model="emailLogin.user.email" name="email"
               ng-blur="checkEmail=true" ng-required="true" class="padding-right-5">
      </label>

      <!--TODO - Out of these two <p> only one should show at a time-->
      <div>
        <p class="errors " style="height: 40px">Invalid Email</p>
        <!--<p class="input-subtitle">Your phone number will be verified via One Time Password</p>-->
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-block button-carpool neutra">Next</button>
      </div>
    </div>
  </ion-content>

</ion-view>
