<ion-view class="roboto" view-title="Find A Ride">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-edit"></button>
  </ion-nav-buttons>
  <ion-content class="gray-content-bg" scroll="false">
    <div ng-style="home.halfDim" class="relative">
      <div class="row home-tile-row">
        <div class="col ">
          <div class="home-tile left" ng-click="home.showPoolOptions()" ng-class="{'active':home.poolOptionsVisible}">
            <div class="row ">
              <div class="col text-center">
                <div class="home-tile-icon relative">
                  <i class="icon ion-model-s"></i>
                  <i class="icon ion-ios-people addon-people"></i>

                </div>
              </div>
            </div>
            <div class="row row-no-padding">
              <div class="col text-center">
                <div class="home-tile-title neutra">Car pool</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="home-tile right" ng-click="home.showRentalOptions()" ng-class="{'active':home.rentalOptionsVisible}">
            <div class="row ">
              <div class="col text-center">
                <div class="home-tile-icon relative">
                  <i class="icon ion-model-s"></i>
                  <i class="icon ion-key addon-key"></i>
                </div>
              </div>
            </div>
            <div class="row row-no-padding">
              <div class="col text-center">
                <div class="home-tile-title neutra">Car Rental</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="relative margin-top-15">
      <div class="row" ng-if="home.poolOptionsVisible">
        <div class="col text-center text-large neutra">
          Car Pool Options
        </div>
      </div>
      <div class="row padding-left-30 padding-right-30" ng-if="home.poolOptionsVisible">
        <div class="col col-50 text-center" ng-if="home.showPoolNeedButton" ng-click="home.openPostOptionModal()">
          <button class="button button-icon icon ion-compose home-option-button fast animated slideInRight"></button>
        </div>
        <div class="col col-50 text-center" ng-if="home.showPoolGiveButton">
          <button class="button button-icon icon ion-ios-search-strong home-option-button fast animated slideInRight"></button>
        </div>
      </div>
      <div class="row padding-left-30 padding-right-30 " ng-if="home.poolOptionsVisible">
        <div class="col col-50 animated slideInUp">
          <div class="row">
            <div class="col text-center bold">
              POST
            </div>
          </div>
          <div class="row row-no-padding">
            <div class="col text-center">
              Post your requirement
            </div>
          </div>
        </div>
        <div class="col col-50 animated slideInUp">
          <div class="row">
            <div class="col text-center bold">
              SEARCH
            </div>
          </div>
          <div class="row row-no-padding">
            <div class="col text-center">
              Search for your requirement
            </div>
          </div>
        </div>
      </div>
      <div class="row margin-top-15" ng-if="home.rentalOptionsVisible">
        <div class="col text-center text-large neutra">
          Car Rental Options
        </div>
      </div>
      <div class="row padding-left-30 padding-right-30" ng-if="home.rentalOptionsVisible">
        <div class="col col-50 text-center" >
          <button class="button button-icon icon ion-compose home-option-button fast animated slideInLeft"
                  ng-if="home.showRentalNeedButton"></button>
        </div>
        <div class="col col-50 text-center" ng-if="home.showRentalGiveButton">
          <button class="button button-icon icon ion-ios-search-strong home-option-button fast animated slideInLeft"></button>
        </div>
      </div>
      <div class="row padding-left-30 padding-right-30" ng-if="home.rentalOptionsVisible">
        <div class="col col-50 animated slideInUp" >
          <div class="row">
            <div class="col text-center bold">
              POST
            </div>
          </div>
          <div class="row row-no-padding">
            <div class="col text-center">
              Post your requirement
            </div>
          </div>
        </div>
        <div class="col col-50 animated slideInUp">
          <div class="row">
            <div class="col text-center bold">
              SEARCH
            </div>
          </div>
          <div class="row row-no-padding">
            <div class="col text-center">
              Search for your requirement
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>

</ion-view>
