<ion-view>

  <ion-content class="container margin-top-20 " scroll="false">
    <div ng-style="login.fulldim">
      <div class="row div-centered-40 ">
        <div class="col text-center">
          <img src="img/logo.png" class="full-image padding-30">
        </div>
      </div>
      <div class="row margin-bottom-30">
        <div class="col text-center neutra text-medium gray">
          Find Your Ride
        </div>
      </div>
      <div class="login-div">
        <div class="row  ">
          <div class="col" ng-click="login.facebookLogin()">
            <button class="button button-block button-fb icon-left ion-social-facebook" >
              Connect with Facebook
            </button>
          </div>
        </div>
        <div class="row  margin-top-0">
          <div class="col" ng-click="login.googleLogin()">
            <button class="button button-block button-google icon-left ion-social-googleplus">
              Connect with Google+
            </button>
          </div>
        </div>
        <div class="row margin-top-20">
          <div class="col text-center dionic-blue bold" ng-click="login.goToLogin()">
            I already have an account
          </div>
        </div>
        <div class="row">
          <div class="col text-center dionic-blue bold" ng-click="login.goToSignUp()">
            Register new account
          </div>
        </div>
      </div>
    </div>
  </ion-content>

</ion-view>
