<ion-side-menus>
  <ion-side-menu-content>
    <ion-nav-bar class="bar-carpool">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view animation="slide-left-right" name="menuContent"></ion-nav-view>
  </ion-side-menu-content>


  <ion-side-menu side="left" class="bar-carpool-bg">
    <ion-content class="roboto" scroll="false">
      <div class="row">
        <div class="col text-center">
          <div class="sidemenu-profile-pic">
          </div>
        </div>
      </div>
      <div class="row margin-bottom-30">
        <div class="col text-center text-medium bold light ">
          Leonardo DiCaprio
        </div>
      </div>
      <ion-list class="sidemenu-list text-large">
        <ion-item menu-close ui-sref="menu.home">
          Home
        </ion-item>
        <ion-item menu-close ui-sref="menu.profile">
          Profile
        </ion-item>
        <ion-item menu-close ui-sref="menu.profile">
          Messages
        </ion-item>
        <ion-item menu-close ui-sref="menu.profile">
          Favorite Routes
        </ion-item>
        <ion-item menu-close >
          History
        </ion-item>
      </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-transparent" align-title="center">
      <h1 class="title light">Logout</h1>
    </ion-footer-bar>
  </ion-side-menu>

</ion-side-menus>
