<ion-view class="bar-carpool-bg">

  <ion-content class="container" scroll="false">
    <div class="row contentTitle">
      <div class="col text-center">
        Enter OTP Received
      </div>
    </div>
    <div class="list list-inset  margin-0 padding-0 no-border-radius transparent-bg">
      <label class="item item-input no-border-radius">
        <input type="tel" placeholder="Enter 4 digit OTP" ng-model="emailLogin.user.email" name="email"
               ng-blur="checkEmail=true" ng-required="true" class="padding-right-5">
      </label>

      <!--TODO - Out of these two <p> only one should show at a time-->
      <div>
        <!--<p class="errors " style="height: 40px">Invalid OTP</p>-->
        <p class="input-subtitle">Enter the 4-digit OTP received on your phone</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-block button-carpool neutra">Submit</button>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <button class="button button-clear button-light bold">Resend OTP</button>
      </div>
    </div>
  </ion-content>

</ion-view>
