<ion-view class="roboto" view-title="Post a ride - Give">
  <ion-content>
    <div class="row">
      <div class="col header">
        Ride Route
      </div>
    </div>
    <div class="row div-centered-80">
      <div class="col">
        <button class="button button-block button-carpool"
                ng-if="!post.originSaved"
                ng-click="post.chooseOrigin()">Choose Origin
        </button>
      </div>
    </div>
    <div class="row div-centered-80" ng-if="post.originSaved">
      <div class="col text-center gray">
        23rd street, Park Avenue, New York
      </div>
    </div>
    <div class="row div-centered-80" ng-if="post.originSaved && !post.destinationSaved">
      <div class="col">
        <button class="button button-block button-carpool"
                ng-if="!post.destinationSaved"
                ng-click="post.chooseDestination()">Choose Destination
        </button>
      </div>
    </div>
    <div class="row div-centered-80" ng-if="post.destinationSaved">
      <div class="col text-center text-large gray bold">
        TO
      </div>
    </div>
    <div class="row div-centered-80" ng-if="post.destinationSaved">
      <div class="col text-center gray">
        46th street, Park Avenue, New York
      </div>
    </div>
    <div class="row row-no-padding" ng-if="post.destinationSaved">
      <div class="col map-div"></div>
    </div>
    <div class="row border-top-lightgray margin-0">
      <div class="col header">
      </div>
    </div>

    <div class="row">
      <div class="col header">
        Ride Type
      </div>
    </div>
    <div class="row">
      <div class="col text-center dark"
           ng-class="{'typeSelected':post.type=='short','gray':post.type=='long'}"
           ng-click="post.chooseType('short')">
        <span class="bold text-medium">Intercity</span><br>
        < 50 miles
      </div>
      <div class="col text-center dark"
           ng-click="post.chooseType('long')"
           ng-class="{'typeSelected':post.type=='long','gray':post.type=='short'}">
        <span class="bold text-medium">Long Distance</span><br>
        > 50 miles
      </div>
    </div>
    <div class="row border-top-lightgray margin-0">
      <div class="col header">
      </div>
    </div>
    <div class="row">
      <div class="col header">
        Ride Frequency
      </div>
    </div>
    <div class="row">
      <div class="col text-center"
           ng-click="post.selectDay('monday')">
        <div class="day"
             ng-class="{'selected light':post.dayIsSelected('monday')}">
          M
        </div>
      </div>
      <div class="col text-center"
           ng-click="post.selectDay('tuesday')">
        <div class="day"
             ng-class="{'selected light':post.dayIsSelected('tuesday')}">
          Tu
        </div>
      </div>
      <div class="col text-center"
           ng-click="post.selectDay('wednesday')">
        <div class="day"
             ng-class="{'selected light':post.dayIsSelected('wednesday')}">
          W
        </div>
      </div>
      <div class="col text-center"
           ng-click="post.selectDay('thursday')">
        <div class="day"
             ng-class="{'selected light':post.dayIsSelected('thursday')}">
          Th
        </div>
      </div>
      <div class="col text-center"
           ng-click="post.selectDay('friday')">
        <div class="day"
             ng-class="{'selected light':post.dayIsSelected('friday')}">
          F
        </div>
      </div>
      <div class="col text-center"
           ng-click="post.selectDay('saturday')">
        <div class="day"
             ng-class="{'selected light':post.dayIsSelected('saturday')}">
          Sa
        </div>
      </div>
      <div class="col text-center"
           ng-click="post.selectDay('sunday')">
        <div class="day"
             ng-class="{'selected light':post.dayIsSelected('sunday')}">
          Su
        </div>
      </div>
    </div>
    <div class="row border-top-lightgray margin-0">
      <div class="col header">
      </div>
    </div>
    <div class="row">
      <div class="col header">
        Ride Timing
      </div>
    </div>
    <div class="row">
      <div class="col text-center dark">
        <span class="bold text-medium">Start Time</span><br>
        09:00 AM
      </div>
      <div class="col text-center dark">
        <span class="bold text-medium">Return Time</span><br>
        09:00PM
      </div>
    </div>
    <div class="row div-centered-80 ">
      <div class="col">
        <ion-checkbox class="checkbox-balanced border-radius-10">Same day return</ion-checkbox>
      </div>
    </div>
    <div class="row border-top-lightgray margin-0">
      <div class="col header">
      </div>
    </div>
    <div class="row">
      <div class="col header">
        Ride Cost
      </div>
    </div>
    <div class="row row-center">
      <div class="col col-66">
        Cost of ride for entire week
      </div>
      <div class="col">
        <label class="item item-input padding-0 no-border border-bottom-lightgray transparent-bg">
          <input class="padding-right-0 text-center" type="tel" ng-model="post.rideDetail.cost"
                 placeholder="in USD">
        </label>
      </div>
    </div>
    <div class="row border-top-lightgray margin-0">
      <div class="col header">
      </div>
    </div>
    <div class="row">
      <div class="col header">
        Special Need
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ion-checkbox class="checkbox-balanced no-border">Women only ride</ion-checkbox>
      </div>
    </div>
    <div class="row border-top-lightgray margin-0">
      <div class="col header">
      </div>
    </div>
    <div class="row">
      <div class="col header">
        Car Details
      </div>
    </div>
    <div class="row row-center">
      <div class="col">
        Make
      </div>
      <div class="col">
        <label class="item item-input padding-0 no-border border-bottom-lightgray transparent-bg">
          <input class="padding-right-0 text-center" type="text" ng-model="post.rideDetail.make"
                 placeholder="e.g. Toyota">
        </label>
      </div>
    </div>
    <div class="row row-center">
      <div class="col">
        Model
      </div>
      <div class="col">
        <label class="item item-input padding-0 no-border border-bottom-lightgray transparent-bg">
          <input class="padding-right-0 text-center" type="text" ng-model="post.rideDetail.make"
                 placeholder="e.g. Rav4">
        </label>
      </div>
    </div>
    <div class="row row-center">
      <div class="col">
        Year
      </div>
      <div class="col">
        <label class="item item-input padding-0 no-border border-bottom-lightgray transparent-bg">
          <input class="padding-right-0 text-center" type="text" ng-model="post.rideDetail.make"
                 placeholder="Enter year">
        </label>
      </div>
    </div>
    <div class="row padding-top-10 padding-bottom-10">
      <div class="col text-center bold carpool">
        Upload car photo (optional)
      </div>
    </div>
    <div class="row border-top-lightgray margin-0">
      <div class="col header">
      </div>
    </div>
    <div class="row">
      <div class="col header">
        Additional Comments
      </div>
    </div>
    <div class="row">
      <div class="col">
        <textarea class="comments full-image border-bottom-lightgray"></textarea>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-carpool">
    <h1 class="title">Post</h1>
  </ion-footer-bar>
</ion-view>
