<ion-modal-view class="roboto translucent-bg">
  <ion-header-bar class="transparent-bg">
    <h1 class="title light">Post a ride</h1>
    <div class="buttons">
      <button class="button button-icon icon ion-android-close light" ng-click="home.closePostOptionModal()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div ng-style="home.fullDimWithHeader" class="valign-parent">
      <div class="row valign-child">
        <div class="col ">
          <div class="row">
            <div class="col text-center light">
              I have a ride, looking for others to share
            </div>
          </div>
          <div class="row row-no-padding padding-top-20">
            <div class="col">
              <div class="home-tile margin-auto" ng-click="home.showPoolOptions()">
                <div class="row ">
                  <div class="col text-center">
                    <div class="home-tile-icon">
                      <i class="icon ion-model-s"></i>
                    </div>
                  </div>
                </div>
                <div class="row row-no-padding">
                  <div class="col text-center">
                    <div class="home-tile-title neutra">Give Ride</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row padding-top-15 padding-bottom-10">
            <div class="col text-center light text-large bold">
              OR
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row row-no-padding">
            <div class="col">
              <div class="home-tile margin-auto" ng-click="home.showRentalOptions()">
                <div class="row ">
                  <div class="col text-center">
                    <div class="home-tile-icon">
                      <i class="icon ion-thumbsup"></i>
                    </div>
                  </div>
                </div>
                <div class="row row-no-padding">
                  <div class="col text-center">
                    <div class="home-tile-title neutra">Need Ride</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row padding-top-20">
            <div class="col text-center light">
              I need a ride, looking for others to provide
            </div>
          </div>
        </div>
      </div>
    </div>  </ion-content>

</ion-modal-view>
