<ion-view class="roboto" view-title="Profile">
  <!--<ion-header-bar class="bar-carpool">-->
    <!--<div class="buttons">-->
      <!--<button class="button button-icon icon ion-navicon"></button>-->
    <!--</div>-->
    <!--<h1 class="title">Profile</h1>-->
    <!--<div class="buttons">-->
      <!--<button class="button button-icon icon ion-edit"></button>-->
    <!--</div>-->
  <!--</ion-header-bar>-->
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-edit"></button>
  </ion-nav-buttons>
  <ion-content>
    <div ng-style="profile.pictureDiv" class="cyan-bg div-shadow">
      <div class="row padding-top-20">
        <div class="col text-center">
          <div class="profile-pic">
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col text-center text-large bold light ">
          Leonardo DiCaprio
        </div>
      </div>
      <div class="row ">
        <div class="col text-center light">
          Hollywood Actor
        </div>
      </div>
    </div>
    <div class="bar-carpool-bg light" ng-style="profile.detailDiv" >
      <div class="row row-center">
        <div class="col col-20 text-center">
          <i class="icon ion-android-call light  text-xx-large"></i>
        </div>
        <div class="col border-bottom-lightgray padding-left-0">
          <div class="row padding-left-0">
            <div class="col padding-left-0">
              Phone
            </div>
          </div>
          <div class="row row-no-padding padding-horizontal padding-left-0">
            <div class="col bold text-medium padding-left-0">
              9643871585
            </div>
          </div>
        </div>
      </div>
      <div class="row row-center">
        <div class="col col-20 text-center">
          <i class="icon ion-ios-email-outline light text-xx-large"></i>
        </div>
        <div class="col border-bottom-lightgray padding-left-0">
          <div class="row padding-left-0">
            <div class="col padding-left-0">
              E-mail
            </div>
          </div>
          <div class="row  row-no-padding padding-horizontal padding-left-0">
            <div class="col bold text-medium padding-left-0">
              user@gmail.com
            </div>
          </div>
        </div>
      </div>
      <div class="row row-center">
        <div class="col col-20 text-center">
          <i class="icon ion-ios-location-outline light text-xx-large"></i>
        </div>
        <div class="col col-80 border-bottom-lightgray padding-left-0">
          <div class="row padding-left-0">
            <div class="col padding-left-0">
              Location
            </div>
          </div>
          <div class="row row-no-padding padding-horizontal padding-left-0">
            <div class="col bold text-medium ellipsis padding-left-0">
              Google map address from geolocation
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>

</ion-view>
