/* Empty. Add your own CSS if you like */
@font-face {
  font-family: 'Neutra Text';
  src: url('../fonts/NeutraText-BookAlt.eot');
  src: url('../fonts/NeutraText-BookAlt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NeutraText-BookAlt.woff2') format('woff2'),
  url('../fonts/NeutraText-BookAlt.woff') format('woff'),
  url('../fonts/NeutraText-BookAlt.ttf') format('truetype'),
  url('../fonts/NeutraText-BookAlt.svg#NeutraText-BookAlt') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.eot');
  src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Light.woff2') format('woff2'),
  url('../fonts/Roboto-Light.woff') format('woff'),
  url('../fonts/Roboto-Light.ttf') format('truetype'),
  url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.eot');
  src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Light.woff2') format('woff2'),
  url('../fonts/Roboto-Light.woff') format('woff'),
  url('../fonts/Roboto-Light.ttf') format('truetype'),
  url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Regular.woff') format('woff'),
  url('../fonts/Roboto-Regular.ttf') format('truetype'),
  url('../fonts/Roboto-Regular.svg#RobotoRegular') format('svg');
  font-weight: 400;
  font-style: normal;
}
.neutra{
  font-family: "Neutra Text", SansSerif;
}
.roboto{
  font-family: "Roboto", SansSerif;
}
