
.login-form-field{
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.dionic-blue{
  color:#2e9fff;
}
.dionic-blue-bg{
  background-color:#2e9fff;
}
.login-div{
  width: 100%;
  position: absolute;
  bottom: 20px;
}
.padding-30{
  padding: 30px 30px 0 30px;
}
.bar.bar-carpool {
  border-color: #197b96;
  /*background-color: #387ef5;*/
  background: linear-gradient(0deg,#27a8a6, #197b96 );
  color: #fff; }
.bar.bar-carpool .title {
  color: #fff; }
.bar.bar-carpool.bar-footer {
  background: linear-gradient(0deg,#27a8a6, #197b96 );}
.bar-carpool .button {
  border-color: #27a8a6;
  background-color: #197b96;
  color: #fff; }
.bar-carpool .button:hover {
  color: #fff;
  text-decoration: none; }
.bar-carpool .button.active, .bar-carpool .button.activated {
  border-color: #27a8a6;
  background-color: #27a8a6; }
.bar-carpool .button.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #fff;
  font-size: 17px; }
.bar-carpool .button.button-icon {
  border-color: transparent;
  background: none; }
.button-bar.bar-carpool > .button {
  border-color: #27a8a6; }
.cyan-bg{
  background-color: #197b96;
}
.profile-pic{
  background-image: url('../img/user.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border:1px solid whitesmoke;
  height: 120px;
  width: 120px;
  margin: auto;
  border-radius: 60px;
}
.sidemenu-profile-pic{
  background-image: url('../img/user.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border:1px solid whitesmoke;
  height: 60px;
  width: 60px;
  margin: auto;
  border-radius: 30px;
}
.bar-carpool-bg{
  background: linear-gradient(0deg, #197b96,#27a8a6 );
}
.div-shadow{
  position: relative;
  box-shadow: 0 2px 10px #444;
  z-index: 2;
}
.contentTitle{
  margin-top:60px;
  font-size: 2em;
  margin-bottom:30px;
  line-height: 1.2em;
  font-family: "Neutra Text",sans-serif;
  color: whitesmoke;

}
.errors {
  height: 20px;
  color: red;
  background-color: transparent;
  line-height: 20px;
  font-size: 12px !important;
  text-align: center;
  font-weight: 500;
  margin-top: 10px;

}
.input-subtitle{
  min-height: 20px;
  color: white;
  background-color: transparent;
  line-height: 20px;
  font-size: 12px !important;
  text-align: center;
  font-weight: 500;
  margin-top: 10px;
}
.button-carpool-color{
  background-color: #29b5b3;
}
.carpool{
  color: #048283;
 }
.button.button-carpool {
  border-color: transparent;
  background-color: #29b5b3;
  color: #fff;
  box-shadow: 0 2px 6px #444;
}

.button.button-carpool.dark {
  border-color: transparent;
  background-color: #29b5b3;
  color: #444;
}

.button.button-carpool:hover {
  color: #fff;
  text-decoration: none;
}

.button.button-carpool.active,
.button.button-carpool.activated {
  border-color: #197c96;
  background-color: #29b5b3;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
}

.button.button-carpool.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #29b5b3;
}

.button.button-carpool.button-icon {
  border-color: transparent;
  background: none;
}

.button.button-carpool.button-outline {
  border-color: #29b5b3;
  background: transparent;
  color: #29b5b3;
}

.button.button-carpool.button-outline.active,
.button.button-carpool.button-outline.activated {
  background-color: #29b5b3;
  box-shadow: none;
  color: #fff;
}
.parent {
  position: relative;
}

.child-sidemenu-header {
  position: absolute;
  top: 0;
  margin-top: 20px !important;
}

.child-sidemenu-items {
  position: absolute;
  top: 120px;
}

.child-sidemenu-footer {
  position: absolute;
  bottom: 50px;
}

.sidemenu-footer.bar.bar-footer {
  background-color: #00cfcb !important;
  height: 88px !important;
}

.has-sidemenu-footer {
  bottom: 88px !important;
}

.sidemenu-header.bar.bar-header {
  background-color: #00cfcb !important;
  height: 88px !important;
  border: none !important;
}

.has-sidemenu-header {
  top: 88px !important;
}

.sidemenu-list .item{
  background: transparent !important;
  border: none;
  border-bottom: 1px solid rgba(238, 238, 238, 0.73);
  color: white;
  text-align: center;
  font-size: 16px;
}

.sidemenu-list .item.item-complex .item-content{
  background: transparent !important;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 16px !important;
}

.sidemenu-list .list {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  /*margin-top: 30px;*/
}

.bar-transparent{
  background-color: transparent;
  border: none;
  background-image: none;
}
.home-tile{
  border: 1px solid #26a4a5;
  width: 100px;
  height: 100px;
  display: block;
  background-color: #26a4a5;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  box-shadow: 1px 1px 5px #222;
}
.home-tile.active, .home-tile.activated{
  box-shadow: 0 0 8px #666 inset ;
  border:1px solid #048283 ;
  transform: scale(0.98);
}
.home-tile.right{
  margin: auto auto auto 10px;
}
.home-tile.left{
  margin: auto 10px auto auto;
}
.home-tile-icon{
  font-size:60px;
}
.gray-content-bg{
  background-color: #ececec;
}
.home-tile-row{
  position: absolute;
  bottom:0;
}
.home-option-button{
  height: 60px;
  width: 60px;
  background: #048283;
  border-radius: 30px;
  color: white;
}
.addon-people{
  position: absolute;
  font-size: 42px;
  right: 20px;
  top: -8px;
}
.addon-key{
  position: absolute;
  font-size: 42px;
  right: 20px;
  top: -20px;
  transform: rotate(-90deg);
}
.map-div{
  min-height: 150px;
  background-color: gray;
}
.header{
  font-size: 16px;
  font-weight: 400;
  color: gray;
}
.typeSelected{
  box-shadow: 0 0 10px inset;
  border-radius: 10px;
}
.day{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: lightgray;
  margin:auto;
  line-height: 35px;
}
.day.selected{
  background-color: #29b5b3;
}
